PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=beauty_salome
JWT_SECRET=beauty_salome_secret_key_2024
JWT_EXPIRES=7d

EMAIL_USER=beautybysalometienda@gmail.com
EMAIL_PASS=wfzf ecvo nsfg uooi
